body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005A43; /* BU Green */
    color: white;
    padding: 1rem;
}

main {
    
}

.wrapper{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
}

.wrapper .remember-forgot{
    color: white;
}

.wrapper .register-link{
    color: white;
}
