<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BU Tier List{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="navbar">
        <h1 class="nav-title">Binghamton Tier Lists</h1>

        <div class="nav-right">
            <a href="/login" class="nav-btn">Login</a>
            <a href="/signup" class="nav-btn signup">Sign Up</a>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/tierlist.js') }}"></script>
</body>
</html>