{% extends "base.html" %}

{% block title %}Create Tier List{% endblock %}

{% block content %}
    <div class="tier_row">
        <div id="tier_S" class="tier_label">S</div>
        <div id="dropzone_S" class="dropzone"></div>
    </div>
    <div class="tier_row">
        <div id="tier_A" class="tier_label">A</div>
        <div id="dropzone_A" class="dropzone"></div>
    </div>
    <div class="tier_row">
        <div id="tier_B" class="tier_label">B</div>
        <div id="dropzone_B" class="dropzone"></div>
    </div>
    <div class="tier_row">
        <div id="tier_C" class="tier_label">C</div>
        <div id="dropzone_C" class="dropzone"></div>
    </div>
    <div class="tier_row">
        <div id="tier_D" class="tier_label">D</div>
        <div id="dropzone_D" class="dropzone"></div>
    </div>
    <div class="tier_row">
        <div id="tier_F" class="tier_label">F</div>
        <div id="dropzone_F" class="dropzone"></div>  
    </div>

    <div id="item_pool">
        <div class="draggable_item" id="item_1" draggable="true">1</div>
        <div class="draggable_item" id="item_2" draggable="true">2</div>
        <div class="draggable_item" id="item_3" draggable="true">3</div>
        <div class="draggable_item" id="item_4" draggable="true">4</div>
        <div class="draggable_item" id="item_5" draggable="true">5</div>
        <div class="draggable_item" id="item_6" draggable="true">6</div>
        <div class="draggable_item" id="item_7" draggable="true">7</div>
        <div class="draggable_item" id="item_8" draggable="true">8</div>
        <div class="draggable_item" id="item_9" draggable="true">9</div>
        <div class="draggable_item" id="item_10" draggable="true">10</div>
        <div class="draggable_item" id="item_11" draggable="true">11</div>
        <div class="draggable_item" id="item_12" draggable="true">12</div>
    </div>
    

    
{% endblock %}