{% extends "base.html" %}
{% block content %}
 <div class = "auth-wrapper">
        <form class="auth-card" onsubmit="return false;">
        <h1> Create Account</h1>
        <div class="input-box">
            <input type="text" placeholder = "Email" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder ="Username"required>
        </div>
        <div class="input-box">
            <input type="text" placeholder ="Password"required>
        </div> 
        <div class="input-box">
            <input type="text" placeholder ="Type Password Again"required>
        </div> 
         <button type = "submit" class = "btn"> Create </button>
    </form>
    </div>
    

</div>
{% endblock %}